In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
s = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
s['a']

1

In [5]:
s.get('c')

3

In [6]:
s.get('r', 8)

8

In [7]:
s1 = pd.Series({'a':35, 'b':65, 'c':13})
s1

a    35
b    65
c    13
dtype: int64

In [8]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [9]:
s.index.tolist()

['a', 'b', 'c', 'd', 'e']

In [10]:
s.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [11]:
s.values

array([1, 2, 3, 4, 5])

In [12]:
s.dtype

dtype('int64')

In [13]:
s.value_counts()

1    1
2    1
3    1
4    1
5    1
dtype: int64

In [14]:
s2 = pd.Series([6,7,8,9,10], index=['a', 'b', 'c', 'd', 'e'])
s2

a     6
b     7
c     8
d     9
e    10
dtype: int64

In [15]:
s + s2

a     7
b     9
c    11
d    13
e    15
dtype: int64

In [16]:
s1 + s2

a    41.0
b    72.0
c    21.0
d     NaN
e     NaN
dtype: float64

In [17]:
d = {'prva':pd.Series([1,2,3], index=['a', 'b', 'c']), 'druga':pd.Series(['x', 'y', 'z'], index=['a', 'b', 'd'])}
df = pd.DataFrame(d)
df

   prva druga
a   1.0     x
b   2.0     y
c   3.0   NaN
d   NaN     z

In [18]:
df.describe()

       prva
count   3.0
mean    2.0
std     1.0
min     1.0
25%     1.5
50%     2.0
75%     2.5
max     3.0

In [19]:
df.describe(include="all")

        prva druga
count    3.0     3
unique   NaN     3
top      NaN     x
freq     NaN     1
mean     2.0   NaN
std      1.0   NaN
min      1.0   NaN
25%      1.5   NaN
50%      2.0   NaN
75%      2.5   NaN
max      3.0   NaN

In [20]:
df.head()

   prva druga
a   1.0     x
b   2.0     y
c   3.0   NaN
d   NaN     z

In [21]:
df.head(2)

   prva druga
a   1.0     x
b   2.0     y

In [22]:
df.tail(2)

   prva druga
c   3.0   NaN
d   NaN     z

In [23]:
df.sort_index(ascending=False)
#df.sort_index(inplace=Treu)

   prva druga
d   NaN     z
c   3.0   NaN
b   2.0     y
a   1.0     x

In [24]:
df.sort_index(axis=1)

  druga  prva
a     x   1.0
b     y   2.0
c   NaN   3.0
d     z   NaN

In [25]:
df.sort_values(by='prva')

   prva druga
a   1.0     x
b   2.0     y
c   3.0   NaN
d   NaN     z

In [26]:
df.iloc[0,0]

1.0

In [27]:
df.iloc[0:2, 0]

a    1.0
b    2.0
Name: prva, dtype: float64

In [28]:
df.iloc[[0, 2], 0]

a    1.0
c    3.0
Name: prva, dtype: float64

In [29]:
df.loc['c', 'prva']

3.0

In [30]:
df.loc[:, 'prva']

a    1.0
b    2.0
c    3.0
d    NaN
Name: prva, dtype: float64

In [31]:
df[['prva', 'druga']]

   prva druga
a   1.0     x
b   2.0     y
c   3.0   NaN
d   NaN     z

In [32]:
df[df['prva'] > 2]

   prva druga
c   3.0   NaN

In [33]:
df.loc[df['prva'] > 2, 'prva']

c    3.0
Name: prva, dtype: float64

In [34]:
df['prva'].mean()

2.0

In [35]:
df['prva'].sum()

6.0

In [36]:
df.isna()

    prva  druga
a  False  False
b  False  False
c  False   True
d   True  False

In [37]:
df['prva'].isna()

a    False
b    False
c    False
d     True
Name: prva, dtype: bool

In [38]:
df[df['prva'].isna()] = 5
df

   prva druga
a   1.0     x
b   2.0     y
c   3.0   NaN
d   5.0     5

In [39]:
df['druga'].replace(np.nan, '1', inplace=True)
df

   prva druga
a   1.0     x
b   2.0     y
c   3.0     1
d   5.0     5

In [40]:
df.isna().any()

prva     False
druga    False
dtype: bool

In [41]:
df.isna().any().any()

False

In [42]:
df.nunique()

prva     4
druga    4
dtype: int64

In [43]:
df.drop(['a', 'c'])

   prva druga
b   2.0     y
d   5.0     5

In [44]:
df.drop('prva', axis=1)

  druga
a     x
b     y
c     1
d     5

In [45]:
df.dropna()

   prva druga
a   1.0     x
b   2.0     y
c   3.0     1
d   5.0     5

In [46]:
df.drop(df[df['prva'] < 3].index)

   prva druga
c   3.0     1
d   5.0     5

In [47]:
df.shape

(4, 2)

In [48]:
df.columns

Index(['prva', 'druga'], dtype='object')

In [49]:
df.columns.tolist()

['prva', 'druga']