In [1]:
import pandas as pd

In [2]:
from sklearn.naive_bayes import CategoricalNB

In [3]:
from sklearn.preprocessing import OrdinalEncoder

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.metrics import classification_report

In [6]:
from sklearn.pipeline import Pipeline

In [7]:
df = pd.read_csv("data/balloon.csv")
df.columns = ['color', 'size', 'act', 'age', 'class']
df.head()

    color   size      act    age class
0  YELLOW  SMALL  STRETCH  ADULT     T
1  YELLOW  SMALL  STRETCH  CHILD     F
2  YELLOW  SMALL      DIP  ADULT     F
3  YELLOW  SMALL      DIP  CHILD     F
4  YELLOW  LARGE  STRETCH  ADULT     T

In [8]:
df.isna().any().any()

False

In [9]:
features = df.columns[:-1].tolist()
x = df[features]
y = df.iloc[:, -1]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, stratify=y)

In [10]:
pipeline = Pipeline( [ ('Kodiranje', OrdinalEncoder() ) , ('clf', CategoricalNB()) ]  )

In [11]:
pipeline.fit(x_train, y_train)

Pipeline(steps=[('Kodiranje', OrdinalEncoder()), ('clf', CategoricalNB())])

In [20]:
pipeline['Kodiranje'].categories_

[array(['PURPLE', 'YELLOW'], dtype=object),
 array(['LARGE', 'SMALL'], dtype=object),
 array(['DIP', 'STRETCH'], dtype=object),
 array(['ADULT', 'CHILD'], dtype=object)]

In [21]:
print('trening skup')
print(classification_report(y_train, pipeline.predict(x_train)))

trening skup
              precision    recall  f1-score   support

           F       1.00      1.00      1.00         8
           T       1.00      1.00      1.00         5

    accuracy                           1.00        13
   macro avg       1.00      1.00      1.00        13
weighted avg       1.00      1.00      1.00        13

In [22]:
print('test skup')
print(classification_report(y_test, pipeline.predict(x_test)))

test skup
              precision    recall  f1-score   support

           F       1.00      1.00      1.00         4
           T       1.00      1.00      1.00         2

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6